/* Estilos generales para el componente de login */
.login-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px; /* Ancho del contenedor del login */
  height: 100vh; /* Establece el alto del contenedor al 100% del viewport */
  background-color: transparent; /* Fondo transparente */
}

/* Estilos para el div con el logo */
.logo-container {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* Color de fondo del div del logo */
  /* Otras propiedades de diseño, como posición fija en el lado izquierdo */
  /* ... */
}

/* Estilos para el div del contenido */
.content-container {
  flex: 1; /* Permite que ocupe el espacio restante del contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; /* Color del texto del contenido */
  /* Otras propiedades de diseño para el contenido */
  /* ... */
}
